/*新添加样式Yanyw*/
.text-input.fraction {
    width: 300px;
}
.covered-width {
    background: #EFEEEC !important;
}

.text{
    font-size:18px;
}
.text-input {
    width: 145px;
    height: 34px;
    border: 1px solid #ffca00;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.look {
    width: 65px;
    height: 40px;
    background: #ffca03;
    font-size: 14px;
    font-weight: bold;
}

.ml30 {
    margin-left: 30px;
}

.filter-header h3 {
    margin: 20px 0;
}