/*
@Description:麦当劳coding
@author: yushanghui
@update: 20180320
*/
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover {
    background-color: #fcf8e2;
}

.marketing-table th {
    height: 58px;
    line-height: 58px !important;
    padding: 0 10px !important;
    font-size: 14px;
    border-bottom: 2px solid #ffca03 !important;
}

.marketing-table td {
    font-size: 16px;
    height: 37px;
}

.filter-header {
    padding: 27px 0;
    line-height: 36px;
    font-size: 36px;
}

.filter-header .main {
    /*float: right;*/
    font-size: 14px;
}

.filter-header .main .text {
    font-weight: bold;
    /*margin-left: 30px;*/
}

.filter-header .main .select-template {
    float: left;
}

